
//  fond site
$fond-blanc: #F1F1F1;
$fond-noir: #1E1E1E;
$fond-rose: rgb(255, 228, 225);
$fond-pêche: rgb(255, 229, 180);

// Textes
$txt-fond-clair: #12130F;
$txt-fond-sombre: #fbfef9;

// radius
$logo-radius: 5px;
